<div class='comments'>
  {{#each this}}
    <section class='comment'>
      <div class='user-info'>
        <span>Posted by: {{user.username}} on {{format_date createdAt}}</span>
      </div>
      <div class='text'>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>