<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tech Blog</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <header>
      <h1>
        <a href='/'>Tech Blog</a>
      </h1>
    </header>
    <nav>

    </nav>
    <footer>
      Thanks for visiting tech blog
    </footer>
  </body>
</html>