
{{#if posts.length}}
  <section>
    <div class="your-post-wrapper">
      <h2>Your Posts</h2>
    </div>
    <ul>
      {{#each posts as |post|}}
        <li>
          {{>post-short post}}   
          <div class="edit-link-wrapper">
            <a href='/dashboard/edit/{{post.id}}' class='edit-link'>Edit Post</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </section>
{{else}}
  <h3>You have no posts yet</h3>
{{/if}}

<button type="button" class='btn new-post-btn'>+ New Post</button>

<script src="/javascript/new-post.js"></script>
