{{#if isSignup}}
  <form class='signup-form'>
    <div>
      <div class='login-wrapper'>
        <h2 class='login-header'> Signup </h2>
      </div>
      <div class='input-wrapper'>
        <label for='username-login'>Username:</label>
        <input type='text' id='username-signup' />
      </div>
      <div class='input-wrapper'>
        <label for='password-login'>Password:</label>
        <input type='password' id='password-signup' />
      </div>
      <div class='input-wrapper'>
        <button class='submit' type='submit'> Signup! </button>
      </div>
      <div class='input-wrapper'>
        <a class='switch-login' href='/login'>Back to login</a>
      </div>

    </div>
  </form>
{{else}}
  <form class='login-form'>
    <div>
      <div class='login-wrapper'>
        <h2 class='login-header'> Login </h2>
      </div>
      <div class='input-wrapper'>
        <label for='username-login'>Username:</label>
        <input type='text' id='username-login' />
      </div>
      <div class='input-wrapper'>
        <label for='password-login'>Password:</label>
        <input type='password' id='password-login' />
      </div>
      <div class='input-wrapper'>
        <button class='submit' type='submit'> Login! </button>
      </div>
      <div class='input-wrapper'>
        <a class='switch-login' href='/login/?isSignup=true'>Sign up instead</a>
      </div>
    </div>
  </form>

{{/if}}

<script src='/javascript/login.js'></script>