{{#if isSignup}}
  <form class='signup-form'>
    <div>
      <h2> Signup </h2>
      <div>
        <label for='username-login'>username:</label>
        <input type='text' id='username-signup' />
      </div>
      <div>
        <label for='password-login'>password:</label>
        <input type='password' id='password-signup' />
      </div>
      <div>
        <button type='submit'> Signup </button>
      </div>
      <a href='/login'>back to login</a>

    </div>
  </form>
{{else}}
  <form class='login-form'>
    <div>
      <h2> Login </h2>
      <div>
        <label for='username-login'>username:</label>
        <input type='text' id='username-login' />
      </div>
      <div>
        <label for='password-login'>password:</label>
        <input type='password' id='password-login' />
      </div>
      <div>
        <button type='submit'> Login </button>
      </div>
      <a href='/login/?isSignup=true'>Sign up instead</a>
    </div>
  </form>

{{/if}}

<script src='/javascript/login.js'></script>