
{{> post-info post}}

{{#if loggedIn}}
  <form class="comment-form">
  <div class="comment-header-wrapper">
    <h3 class="comment-header"> New Comment</h3>
  </div>
  <div class="input-wrapper comment-textarea">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="input-wrapper">
    <button class="comment-submit" type="submit">Add comment</button>
  </div>
</form>
{{/if}}

{{!-- partial --}}
{{> comments post.comments}} 

{{#if loggedIn}}
<script src='/javascript/comment.js'></script>
{{/if}}